@use '../../styles/variables' as *;

.slideshow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (max-width: $mobile) {
    max-width : 90%;
    max-height : 90%;
    margin: 0 auto;
  }

  .slideshow-main {
    position: relative;
    border: 2px solid $color-cards;

    .main-image {
      max-width: 600px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;

      @media (max-width: $tablet) {
        max-width: 500px;
        max-height: 250px;
      }
    }
  }

  &.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    max-height: 700px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: $color-modal;
    
    @media (max-width: $mobile) {
      padding: 0.5rem;
      box-sizing: border-box;
    }
  
    .main-image {
      width: auto; 
      height: auto; 
      max-width: 880px;
      max-height: 680px;
      object-fit: contain;

      @media (max-width: $tablet) {
        max-width: 580px;
        max-height: 680px;
      }

      @media (max-width: $mobile) {
        width: 100%;
        height: auto;
        object-fit: contain; 
      }

    }
  
    .close-fullscreen {
      position: absolute;
      top: 5px;
      left: 5px;
      background: none;
      border: none;
      font-size: 30px;
      color: $color-cards;
      cursor: pointer;
      transform: rotate(180deg);
    }

  }

  .slideshow-infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $mobile) {
      max-width : 90%;
      max-height : 90%;
      margin: 0 auto;
    }
  }
  
  .slideshow-description {
      display: flex;
      align-items: center;
      gap : 5px;

      @media (max-width: $mobile) {
        flex-direction: column;
        gap: 3px;
        margin : 0.7rem 0 0.7rem 0;
      }

      .image-name {
        font-size: 16px;
        color: $color-base;
        font-weight: 600;
        text-align: center;
      }

      p {
        font-size: 14px;

        @media (max-width: $mobile) {
          margin : 0;
        }
      }
  }
  
  .slideshow-thumbnails {
    display: flex;
    gap: 10px;
    justify-content: center;

    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
  
    .thumbnail {
      width: 80px;
      height: 50px;
      object-fit: cover;
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.3s, transform 0.3s;

  
      &.active {
        opacity: 1;
        transform: scale(1.1);
        border: 2px solid $color-cards;
      }
  
      &:hover {
        opacity: 1;
      }
    }
  }

}