@use '../../styles/variables' as *;

  .projets-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 50px;
    width: 80%;
    margin: 0 auto;

    @media (max-width: $mobile) {
      padding: 20px;
      margin-bottom: 20px;
    }

  }

