@use '../../styles/variables' as *;

  .projets-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
  }