@use '../../styles/variables' as *;

.about {
  margin-top: $header-height;
    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(184, 184, 184);
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 50px;

      p {
        margin: 5px;
      }
      
    }
  }