@use '../../styles/variables' as *;

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $color-head;
  color: $color-light;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1rem;
    color: $color-gray;
    display: flex;
    align-items: center;
  }

  @media (max-width: $mobile) {
    flex-direction: column;

    .nb {
      display: none;
    }

    p {
      font-size: 0.8rem;
      margin: 0.3rem 0;
    }
  }

  .react-link {
    margin-left: 5px;
    text-decoration: none;
    color: $color-rc;
    display: inline-flex;
    align-items: center;
    font-weight: 600;

    .react-logo {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
